<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Awesome books </title>
</head>
<body>
    <main>
        <h1>All Awesome Books</h1>
        <div class="books">
        </div>
        <div class="addBookForm">
     
            <h2>Add a new book</h2>
            <form>
                <input type="text" placeholder="Title" id="title-id"><br>
                <input type="text" placeholder="Author" id="author-id"><br>
                <button type="submit">Add</button>
            </form>
        </div>
    </main>
    <script src="../scripts/main.js"></script>
</body>
</html>